/*----------------------------------------------------------------------------------------------------------------*\
    DEBUG CSS
\*----------------------------------------------------------------------------------------------------------------*/

/*
* This stylesheet should be enabled to help check for errors and some invalid markup.
* 
* This should not be relied upon entirely, it it here to aid your usual checks, like validating your markup.
* 
* Red = error
* Yellow = double check
* None = should be OK
*/

/* check for empty elements */
:empty {
    outline: 5px solid yellow;
}

.clear:empty {
	outline: none;
}


/* Images should have alt text, empty alt text is OK but should be doubled checked */
img {
    outline: 5px solid red;
}

img[alt] {
    outline: none;
}

img[alt=""] {
    outline: 5px solid yellow;
}


/* Links whose 'href' is something questionable, or even empty */
a[href="#"], a[href*="javascript"] {
    outline: 5px solid yellow;
}

a[href=""] {
	outline: 5px solid yellow;
}


/* List should only have li's as children */
ul > *not(li),
ol > *not(li) {
	outline: 5px solid red;
}


/* Forms require an 'action' attribute */
form {
    outline: 5px solid red;
}

form[action] {
    outline: none;
}

form[method=""] {
    outline: 5px solid yellow;
}


/* Inputs elements have required attributes */
input {
    outline: 5px solid red;
}

input[type] {
    outline: none;
}

input[type=""] {
    outline: 5px solid red;
}

input[type="submit"] {
    outline: 5px solid red;
}

input[type="submit"][value] {
    outline: none;
}

input[name] {
    outline: none;
}

input[name=""] {
    outline: 5px solid red;
}


/* Avoid inline styles */
[style] {
    outline: 5px solid yellow;
}


/* Avoid IDs for styling, double check to make sure this isn't doing any styling */
[id] {
    outline: 5px solid yellow;
}