/*----------------------------------------------------------------------------------------------------------------*\
    DEBUG CSS
\*----------------------------------------------------------------------------------------------------------------*/

/*
* This stylesheet should be enabled to help check for errors and some invalid markup.
* 
* This should not be relied upon, it is here to aid your usual checks, like validating your markup.
* 
* Red = error
* Yellow = double check
* None = should be OK
*/





/*----------------------------------------------------------------------------------------------------------------*\
    EMPTY ELEMENTS
\*----------------------------------------------------------------------------------------------------------------*/
:empty {
    outline: 5px solid yellow;
}

/* Ignore elements that are OK to be empty */
.clear:empty,
textarea:empty,
input:empty {
	outline: none;
}





/*----------------------------------------------------------------------------------------------------------------*\
    IMAGES
\*----------------------------------------------------------------------------------------------------------------*/
/* No alt attribute */
img:not([alt]) {
    outline: 5px solid red;
}

/* Empty alt text is OK but should be doubled checked */
img[alt=""] {
    outline: 5px solid yellow;
}





/*----------------------------------------------------------------------------------------------------------------*\
    LINKS
\*----------------------------------------------------------------------------------------------------------------*/
/* No href attribute */
a:not([href]) {
    outline: 5px solid red;
}

/* Questionable href */
a[href="#"], 
a[href*="javascript"] {
    outline: 5px solid yellow;
}

/* Empty href */
a[href=""] {
	outline: 5px solid yellow;
}





/*----------------------------------------------------------------------------------------------------------------*\
    LISTS
\*----------------------------------------------------------------------------------------------------------------*/
/* List should only have li's as children */
ul > *not(li),
ol > *not(li) {
	outline: 5px solid red;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FORMS
\*----------------------------------------------------------------------------------------------------------------*/
/* No method attribute */
form:not([method]) {
    outline: 5px solid red;
}

/* No action attribute */
form:not([action]) {
    outline: 5px solid red;
}

/* Has an empty action */
form[action=""] {
    outline: 5px solid red !important;
}

/* Has an empty method */
form[method=""] {
    outline: 5px solid yellow !important;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FORM ELEMENTS
\*----------------------------------------------------------------------------------------------------------------*/
/* No name attribute */
input:not([name]) {
    outline: 5px solid red;
}

/* No type attribute */
input:not([type]) {
    outline: 5px solid red;
}

/* Has an empty name */
input[name=""],
textarea[name=""],
select[name=""] {
    outline: 5px solid red;
}

/* Has an empty type */
input[type=""] {
    outline: 5px solid red;
}

/* Submit has no value */
input[type="submit"]:not([value]) {
    outline: 5px solid red;
}

/* Submit input has an empty value */
input[type="submit"][value=""] {
    outline: 5px solid red;
}





/*----------------------------------------------------------------------------------------------------------------*\
    MISC
\*----------------------------------------------------------------------------------------------------------------*/
/* Avoid inline styles */
[style] {
    outline: 5px solid yellow;
}

/* Avoid IDs for styling, double check to make sure this isn't doing any styling */
[id] {
    outline: 5px solid yellow;
}