/*----------------------------------------------------------------------------------------------------------------*\
    COLOURS - I like to add the colours here to refer back to, to keep them consistent throughout the site
    
    BLACK: Text
    #333
    
    BLUE: Links
    #2290BF
    
\*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {
    color: #333;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
}

a {
    color: #2290BF;
}

a:hover {
    color: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
    max-width: 980px;
}

.row [class*="column-"] {
    margin-bottom: 2em;
}





/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	padding-top: 2em;
}

.nav ul {
    list-style: none;
    
    text-align: center;
}

.nav li {
    display: inline-block;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FOOTER
\*----------------------------------------------------------------------------------------------------------------*/
.footer ul {
    list-style: none;
    
    text-align: center;
}