/*----------------------------------------------------------------------------------------------------------------*\
    COLOURS - I like to add the colours here to refer back to, to keep them consistent throughout the site
    
    BLACK: Text
    #333
    
    GREEN: Links
    #87c53b
    
\*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {
    color: #333;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
}

a {
    color: #87c53b;
}

a:hover {
    color: #87c53b;
    text-decoration: none;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
    max-width: 980px;
}