/*----------------------------------------------------------------------------------------------------------------*\
    COLOURS - i like to add the colours here to refer back to, to keep them consistent thought the site
    
    BLACK: Text
    #333
    rgba(51, 51, 51, 1)
    
\*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {
    color: #333;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
}

a {
    color: #87c53b;
}

a:hover {
    color: #87c53b;
    text-decoration: underline;
}





/*----------------------------------------------------------------------------------------------------------------*\
    OTHER STYLES HERE
\*----------------------------------------------------------------------------------------------------------------*/