/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	padding: 24px 0px;
}

.nav ul {
	list-style: none;
	text-align: center;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BANNER
\*----------------------------------------------------------------------------------------------------------------*/
.banner {
    padding: 24px 0;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BODY CONTENT
\*----------------------------------------------------------------------------------------------------------------*/
.bodyContent {
    padding: 24px 0;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FOOTER
\*----------------------------------------------------------------------------------------------------------------*/
.footer {
	padding: 24px 0;
}