/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	padding: 24px 0px;
}

.nav ul {
	list-style: none;
	text-align: center;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BANNER
\*----------------------------------------------------------------------------------------------------------------*/
.banner {
    padding: 24px 0;
}

.fader {
	position: relative;
}

.fader .sliderItem {
	position: absolute;
	top: 0;
	left: 0;
}

.fader .sliderItem.selected {
    position: relative;
}

.fader .displayNone {
	display: none;
}

.fader .selected {
	color: #333;
}

.fader ul {
    list-style: none;
    text-align: center;
}

.fader li {
    display: inline-block;
    margin-right: 10px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BODY CONTENT
\*----------------------------------------------------------------------------------------------------------------*/
.bodyContent {
    padding: 24px 0;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FOOTER
\*----------------------------------------------------------------------------------------------------------------*/
.footer {
	padding: 24px 0;
}