/*----------------------------------------------------------------------------------------------------------------*\
    HEADINGS
\*----------------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $alt-font-color;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.25em;
}

h4, .h4 {
    font-size: 1.125em;
}

h5, .h5,
h6, .h6 {
    font-size: 1em;
}